*{
    margin: 5px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

body{
    background-color: #22212C;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 500;
}

a{
    outline-style: none;
    text-decoration: none;
}

strong{
    font-weight: 700;
}

aside{
    display: flex;
    flex-direction: column;
    width: 370px;
    min-width: 370px;
    transition: 0.5s;
}

main{
    min-width: 60vw;
    margin-left: 20px;
    transition: 0.5s;
}

/*Lidando com o ajuste da página*/
.MainAside{
    display: flex;
}

/*Lidando Aside*/

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 20px;
    width: 350px;
    height: 300px;
    min-width: 350px;
    min-height: 300px;
    background-color: #302F3D;
    border-radius: 20px;
}

.container-flex-V2{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
    width: 350px;
    height: 220px;
    min-width: 350px;
    min-height: 220px;
    background-color: #302F3D;
    border-radius: 20px;
}

.container-flex-V3{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
    width: 350px;
    height: 150px;
    min-width: 350px;
    min-height: 150px;
    background-color: #302F3D;
    border-radius: 20px;
}

.container-flex-V4{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 20px;
    width: 350px;
    height: 590px;
    min-width: 350px;
    min-height: 630px;
    background-color: #302F3D;
    border-radius: 20px;
}

.small{
    font-size: small;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 24px;
    font-weight: 700;
    font-size: 14px;
    padding: 7px;
    border-radius: 20px;
    background-color: #CB92B1;
    color: black;
}

.Title{
    padding: 5px;
}

.sublist{
    font-weight: 400;
    font-size: small;
    color: #837E9F;
}

.profile-1{
    display: flex;
    flex-direction: column;
    font-size: small;
}

.profile-photo1{
    width: 128px;
    height: 128px;
    min-width: 128px;
    min-height: 128px;
    border-radius: 90px;
    border: 2px solid #00FF00;
    padding: 3px;
}

.tables{
    justify-content: center;
    align-items: center;
    font-size: small;
}

.spacer{
    margin-bottom: 20px;
}


/*Lidando com a Main*/

.container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-width: 490px;
    min-height: 60px;
    width: 60vw;
    height: 60px;
    border-radius: 20px;
    background-color: #302F3D;
    transition: 0.5s;
}

.twoContainer{
    display: flex;
    margin-top: 20px;
    min-width: 225px;
    min-height: 186px;
    width: 55vw;
    height: 186px;
    border-radius: 20px;
}

.oneContainer:hover{
    padding: 0;
    margin: 0;
    border: 2px outset blue;
    border-radius: 20px;
    transition: 0.5s;
}

.oneContainer{
    padding: 10px;
    min-width: 210px;
    width: 27vw;
    transition: 0.5s;
}


.tryitems{ 
    display: flex;
    width: 100%;
    transition: 0.5s;
}

.flex{
    display: flex;
    margin-top: 20px;
}

.flexV2{
    display: flex;
}

.flexV3{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 18px;
}

.floaterFolder{
    float: left;
}

.floaterReverse{
    margin-left: 4px;
}


.typefolder{
    margin-top: 20px;
}

.background{
    background-color:  #302F3D;
    border-radius: 20px;
}

/*Mechendo com posts*/

.container-spacer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
    min-width: 490px;
    min-height: 60px;
    width: 60vw;
    height: 60px;
    border-radius: 20px;
    background-color: #302F3D;
    transition: 0.5s;
}

.postMain{
    font-size: small;
    margin-left: 15px;
    min-width: 495px;
    min-height: 200px;
    width: 60vw;
    height: 200px;
    border-radius: 20px;
    background-color: #302F3D;
    transition: 0.5s;
}

.postMain:hover{
    padding: 0;
    margin: 0;
    border: 2px outset blue;
    border-radius: 20px;
    transition: 0.5s;
}

.subpostMain{
    margin-left: 30px;
    padding: 20px;
}

.perfil-post{
    float: left;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 25px;
    margin-right: 10px;
    min-width: 64px;
    min-height: 64px;
    max-width: 128px;
    max-height: 128px;
    width: 20vw;
    height: 20vh;
    border-radius: 140px;
    transition: 0.5s;
}


/*Mechendo com a responsividade do site*/

.response:hover{
    color: #836F7F;
}

/*Deixando botao invisivel na página principal*/
.buttonOrigin{
    display: none;
}

.buttonOriginV2{
    display: none;
}


/*Mechendo com a responsividade*/

@media (max-width: 720px){
    .buttonOrigin{
        z-index: 2;
        position: fixed;
        display: flex;
        justify-content: center;
        background-color: #00FF00;
        margin-top: 10px;
        margin-left: -5px;
        width: 30px;
        height: 35px;
        transition: 0.2s;
        border-radius: 10px;
    }

    .buttonOriginV2{
        z-index: 2;
        position: fixed;
        display: none;
        justify-content: center;
        background-color: #00FF00;
        margin-top: 10px;
        margin-left: -5px;
        width: 30px;
        height: 35px;
        transition: 0.2s;
        border-radius: 10px;
    }

    .buttonOrigin:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }

    .buttonOriginV2:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    .buttonImg{
        width: 20px;
        height: 20px;
    }

    aside{
        display: none;
    }

    .container{
        min-width: 600px;
        width: 600px;
    }

    .oneContainer{
        width: 400px;
    }

    .invisible{
       display: none;
    }

    .container-spacer{
        margin-top: 20px;
        min-width: 600px;
        width: 600px;
    }

    .postMain{
        min-width: 600px;
        width: 600px;
        height: 230px;
    }

    .perfil-post{
        width: 100px;
        height: 100px;
        border-radius: 90px;
    }

}

@media (max-width: 500px){
    .buttonOrigin{
        z-index: 2;
        position: fixed;
        display: flex;
        justify-content: center;
        background-color: #00FF00;
        margin-top: 10px;
        margin-left: -5px;
        width: 30px;
        height: 35px;
        transition: 0.2s;
        border-radius: 10px;
    }

    .buttonOriginV2{
        z-index: 2;
        position: fixed;
        display: none;
        justify-content: center;
        background-color: #00FF00;
        margin-top: 10px;
        margin-left: -5px;
        width: 30px;
        height: 35px;
        transition: 0.2s;
        border-radius: 5px;
    }

    .buttonOrigin:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }

    .buttonOriginV2:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    .buttonImg{
        width: 20px;
        height: 20px;
    }

    aside{
        display: none;
    }

    main{
        margin-left: 6vw;
    }

    .container{
        min-width: 300px;
        width: 300px;
    }

    .oneContainer{
        min-width: 270px;
        width: 270px;
    }

    .invisible{
       display: none;
    }

    .container-spacer{
        margin-top: 20px;
        min-width: 300px;
        width: 300px;
    }

    .postMain{
        min-width: 300px;
        width: 300px;
        height: 230px;
    }

    .perfil-post{
        width: 40px;
        height: 40px;
        border-radius: 90px;
    }

}