*{
    margin: 5px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

body{
    background-color: #22212C;
}

h3{
    font-weight: 700;
}

header{
    margin-top: 90px;
}

article{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 9px;
    transition: 0.5s;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

/*Mechendo com postagens*/
.postContainerSite{
    border-radius: 15px;
    background-color: #302F3D;
}

.arrow{
    float: left;
}

.ask:hover{
    color: #836F7F;
}
.titlePost{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 70vw;
    margin: auto;
}

.mainPost{
    margin-top: 60px;
    padding: 10px;
    
}

.subTopic{
    margin-top: 40px;
    margin-left: -6px;
    transition: 0.5s;
}

.centred{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px){
    .titlePost{
        width: 200px;
    }

    ul{
        gap: 1em;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    .titlePost{
        width: 200px;
    }

    ul{
        gap: 0.3em;
        flex-wrap: wrap;
    }
}
